
#list {
  background-color: purple;
  align: center;
  text: White;
  height: 100px;
}

#enter {
  background-color: purple;
  text: white;
}

header {
  align: center;
}
.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: yellow;
}

.done {
  text-decoration: line-through;
}
