
#list {
  background-color: purple;
  text-align: center;
  color: white;
  height: 100px;
}

#enter {
  background-color: purple;
  color: white;
}

header {
  text-align: center;
}
.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: yellow;
}

.done {
  text-decoration: line-through;
}
