
#list {
  background-color: purple;
  color: white;
  height: 500px;
  width: 80%;
  margin: auto;
  overflow: auto;
}

#enter {
  background-color: purple;
  color: white;
}

header {
  text-align:center;
}

.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: yellow;
}

.done {
  text-decoration: line-through;
}
