
nav {
  position: fixed;
  background-color: blue;
  }
  
nav li {
  display: inline;
}
  
header {
  position: fixed;
  background-color: purple;
  
}

section {
  background-color: green;
}

aside {
  background-color: red;
}

footer {
  background-color: yellow;
}

body {
  background-color: black;
}


