header {
 text-align: center;
 font-family: 'sans-serifs';
 color: #000078;
}

.nav {
 list-style: none;
 width: 85%;
 margin: 0;
 padding: 6px 20px;
 background-color: #000078;
 color: #AA0078 ;
 text-align: center;
 margin: auto;
 border-top: 1px solid #282828;
 border-bottom: 4px solid #FF3300;
 font-size: 15pt;
}
nav>ul>li {
 display: inline;
}

body {
 background-color: #D1CAB0;
}

section {
 margin-top: 10px;
 width: 85%;
 margin-left: auto;
 margin-right: auto;
}

article {
 float: right; 
 width: 75%;
}

aside {
 float: left;
 margin-left: 10px;
 width: 20%;
 padding: 3px;
}

footer {
  position: fixed;
  bottom: 0;
}
