.high {
  color: white;
  background-color: red;
}

.medium {
  color: brown;
  background-color: orange;
}

.low {
  color: black;
  background-color: gray;
}

.done {
  color: cyan;
  background-color: black;
  text-decoration: line-through;
}

#done {
  color: cyan;
  background-color: black;
}

section {
  height: 300px;
  width: 400px;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

h2 {
  color: white;
  text-align: center;
}

